.fadeIn{
-webkit-animation-duration: 4s;
animation-duration: 4s;
animation-fill-mode: both;
-webkit-animation-fill-mode: both;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

@keyframes fadeIn{
    form{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}