@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* variables css */

 :root {
    --green-color: #7ACC2D;
    --white-color: white;
    --black--color: #313337;
    /* espaciado */
    --space: 10px;
    /* tipografia */
    --normal: 12px;
    /* box-shadow */
    --box: 0px 0 2px 1px #e6e5e9;
}


/* variables css */
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
html,
body {
    margin: 0px;
    padding: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: var(--space);
    list-style: none;
    padding-left: var(--space);
}

nav li a {
    color: var(--black--color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}


/* AQUI TERMINA EL NAVADAR */

.main-section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url("../images/curve.png");
    height: 50px;
    background-size: cover;
    /*que siginifica que ocupe el tamaño del ancho que tiene*/
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product {
    padding: var(--space);
    margin-top: -240px;
}

.product .content {
    background-color: var(--white-color);
    padding: var(--space);
    box-shadow: var(--box);
}

.img-content {
    text-align: center;
}

.main-button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.main-button:hover {
    background-color: rgb(48, 139, 48);
}

/* seccion 3 de graficas */

.grafics{
    display: flex;
    padding: 10%;
      
  
}
.grafic{
    padding: 20px;
    text-align: center;
}
.grafic .grafic-content{
    padding: 20px;
    text-align: center;
    

}
.grafic img{
    max-height: 100px;
}
img{
border-style: none;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.txt-grafic{
    text-align: justify;
    
}

p, label{
    font-size: 12px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* seccion 4 */

.title-figure{
    text-align: center;
    border-top: gray 2px;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.figures{
    display: flex;
    padding: 5%;
}

.figure{
    padding: var(--space);
}
.figure-content{
    box-shadow: var(--box);
}
.figure-content img{
    width: 100%;
}
.txt-figure-content{
    padding: 20px;
}
/* seccion ventas */

.modulo-pago{
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}
.modulo-pago-img{
    max-width: 150px;
    text-align: center;
    margin: auto;
}

.data{
    margin-top: var(--space);
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--black--color);
    box-sizing: border-box;
}
.modulo-pago .main-button{
    margin-top: var(--space);
}


/* footer */

.footer{
    padding: var(--space);
    display: flex;
    font-size: var(--normal);
    justify-content: space-between;
    background-color: var(--black--color);
    color: white;
  
}

.contacto a{
    color: var(--green-color);
}